body {
   background-color: #ffe57f;
}

form.signup,
form.login {
  margin-top: 50px;
}

#nav-mobile {
  text-align: right;
}

/* .nav-wrapper {
  margin-left: 2em;
} */


.card-title {
  font-size: xx-large;
}

.form {
  background-color: whitesmoke;
  margin-top: 2em;
  padding: 2em;
}

